html, body {
	background-color: #fff;
	color: #636b6f;
	font-family: serif;
	font-weight: 100;
	/* height: 100%;
	margin: 0, auto;
	position: relative; */
}

main {
	/* margin-top: 75px; */
}

footer {
	position: absolute;
	bottom: 0;
	width:100%;
}

.wrapper {
	height: 100%;
	min-height: 100vh;
	position: relative;
	padding-bottom: 100px;
	box-sizing: border-box;
}

.l-flash {
	position: fixed;
	z-index: 10;
	top: 60px;
	width: 100%;
	padding: 18px 0;
	background-color: #199086;
	color: #fff;
	font-size: 150%;
	opacity: .8;
	text-align: center;
}

.l-flash-err {
	position: fixed;
	z-index: 10;
	top: 60px;
	width: 100%;
	padding: 18px 0;
	background-color: #FF3366;
	color: #fff;
	font-size: 150%;
	opacity: .8;
	text-align: center;
}

img {
	max-width: 100%
}

.table {
	margin-bottom: 0.5rem;
}

.table thead th {
	vertical-align: top;
	text-align: left;
}

.table .thead-light th {
	background-color: #fafafa;
	border-color: #f2f2f2;
}

header {
	margin-bottom: 6rem;
}

i {
	font-weight: normal;
}

.progress{
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 20px;
}

.card_progress_info, .card_planner_info {
	color: #828e8d;
	font-size: 100%;
}

.card_planner_info {
	margin-bottom: 20px
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
}

.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}

.l-header {
	z-index: 60;
	/* position: fixed; */
	top: 0;
	overflow: visible;
	background: rgba(0, 0, 0, 0.8);
}

.modal-header {
	/* background: rgba(0, 0, 0, 0.2); */
	color:white;
	border: none;
}

.modal-content {
	color:white;
	border-radius: none;
	background-image: url('../img/modal.jpg');
	background-size:cover;
}

.modal-body {
	/* background: rgba(0, 0, 0, 0.1); */
}

.modal-email, .modal-pass {
	padding-top: 0.5rem;
	padding-left: 0rem;
	padding-right: 0rem;
}

.btn-sm, .btn-group-sm > .btn {
	padding: 0.5rem 0.5rem;
}

.btn-group > .btn {
	flex: 0 auto;
}

.form-check-input {
	margin-left: 1.4rem;
}

.modal-btn {
		border:none;
		margin: 0 5rem;
		color: rgba(255, 255, 255, 0.8);
		background: rgba(3, 152, 78, 0.7);
	}

	.modal-btn:hover {
		color: rgba(255, 255, 255, 1);
		background: rgba(3, 152, 78, 0.9);
	}

	.modal-btn:active {
		color: rgba(255, 255, 255, 1);
		background: rgba(3, 152, 78, 1);
	}

	a.check-terms, a.check-keep, a.forgot-link{
		color: white;
	}

	a.check-terms {
		margin-left: 2.4rem;
	}

	a.check-keep {
		color: white;
		margin-left: 2.4rem;
	}

	label.check-keep {
		margin-left: 2.4rem;
	}

	a.forgot-link {
		color: white;
	}

	.form-forgot-link {
		margin-top: 0.5rem;
		margin-left: 0.5rem;
	}

	.btn-sm, .btn-group-sm > .btn {
		border-radius: 0;
		margin-top:  -0.5rem;
	}

.top_bannner{
	height: 500px;
	padding-top: 30.25%;
	background-image: url('../img/top_banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	width: 100%;
}

.cover-text {
	position: absolute;
	top: 6rem;
	left: 32rem;
	color: rgba(255, 255, 255, 0.7);
}

.cover_btn_1 {
	position: absolute;
	top: 14rem;
	left: 37rem;
	color: rgba(255, 255, 255, 0.8);
	background: rgba(3, 152, 78, 1);
}

.cover_btn_1:hover {
	color: rgba(255, 255, 255, 1);
	background: rgba(3, 152, 78, 0.9);
}

.cover_btn_1:active {
	color: rgba(255, 255, 255, 1);
	background: rgba(3, 152, 78, 0.8);
}

.cover_btn_2 {
	position: absolute;
	top: 14rem;
	left: 47rem;
	color: rgba(255, 255, 255, 0.8);
	background: rgba(0, 92, 180, 1);
}

.cover_btn_2:hover {
	color: rgba(255, 255, 255, 1);
	background: rgba(0, 92, 180, 0.9);
}

.cover_btn_2:active {
	color: rgba(255, 255, 255, 1);
	background: rgba(0, 92, 180, 0.8
		);
}


.block_title {
	font-weight: bold;
	letter-spacing: .5em;
	font-size: 124%;
	text-align: center;
	margin-bottom: 40px;
}

.sub_title {
	display: block;
	letter-spacing: .5em;
	font-size: 80%;
	margin-top: 12px;
	color: #aaa;
}

.btn {
	display: block;
	margin:auto;
	border-radius: 0;
}

.form-control {
	border-radius: 0;
}

.cardnumber {
	width:20%;
	margin-right:1rem;
}

.edit_user {
	justify-content: center;
}

.cbox {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flexbox;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	-js-display: flex;
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.cbox-inner  {
	width:24%;
	position: relative;
	z-index: 1;
}

.cbox-inner a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent:-999px;
	z-index: 2;
}

.cbox-inner:hover {
	filter:alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity:0.7;
	zoom:1;
}

.pj_img {
	position: relative;
}

.project-successs-bar {
	background-image: url('../img/successs.png');
	/* position: absolute; */
	top: 0;
	left: 0;
}

.select-reward {
	position: relative;
	z-index: 1;
}

.select-reward a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent:-999px;
	z-index: 2;
}

.select-reward:hover {
	filter:alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity:0.7;
	zoom:1;
}

.selected-reward-price {
	font-size: 18px;
	font-weight: bold;
	color: red;
}

.nav-tabs .nav-link.active {
	border-radius: 0;
	background-color: white;
}

.nav-tabs .nav-link {
	border-radius: 0;
	background-color: #e6e8e8;
	margin-right: 0.1rem;
	color:black;
}

.nav-tabs {
	border-bottom: 0;
}

.card-title {
	height: 120px;
	font-size: 13px;
}

.reward-card-title {
	font-size: 18px;
}

.selected-card-title {
	font-size: 18px;
}

.suppport_notice, .payment-card-notice, .support-comment-notice {
	font-size: 12px;
}

.total_amount {
	font-size: xx-large;
	font-weight: bold;
	color: #ffbd2e;
}

.rw_price {
	font-size: x-large;
	font-weight: bold;
	color: #ffbd2e;
}

.supporter {
	font-size: large;
	font-weight: bold;
	color: #309b92;
}

.quantity, .stock {
	font-size: large;
	font-weight: bold;
	color: #ffbd2e;
}

.card_total_amount {
	font-size: x-large;
	font-weight: bold;
	color: #ffbd2e;
}

.project-supporter, .project-period {
	font-size: x-large;
}

.planner_name, .planner_intro {
	font-size: small;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.planner_name {
	font-weight: bold;
}

img.user_image, img.default_user_image {
	width: 30px;
	height: 30px;
}

.comment-user.col-md-2 img, img.planner_img{
	width: 36px;
	height: 36px;
}

.report_text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.search-form {
	position: absolute;
	top: 13rem;
	left: 29rem;
}

.search-btn {
	background: rgba(0, 92, 180, 0.9);
	color:white;
}

input.form-control.search-bar {
	width:500px;
	padding:1rem;
}

.dropdown-menu.show {
	background: rgba(0, 0, 0, 0.8);
	}

a.dropdown-item {
	color: white;
}

.um-card-text {
	height:100px;
}

.um-card-body {
	height:250px;
	padding:20px;
}

/* スマホ用スタイル */
@media screen and (max-width: 767px) {

/* 767pxまでの幅の場合に適応される */
	.cbox-inner {
		width:48%;
	}
}
