html, body {
	background-color: #fff;
	color: #636b6f;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	height: 100%;
	margin: 0, auto;
	position: relative;
}

main {
	margin-top: 75px;
}

footer {
	/* position: absolute;
	width: 100%;
	bottom: 0; */
}

img {
	max-width: 100%
}

.progress {
	margin-bottom: 16px;
}

.project_card-progress_info {
	margin-bottom: 2px;
	color: #828e8d;
	font-size: 80%;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
}

.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}

.l-header {
	z-index: 60;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	overflow: visible;
}

.top_bannner{
	height: 0;
	padding-top: 30.25%;
	background-image: url('../img/header_1.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.block {
	/* padding: 60px 0 40px;
	position: relative;
	min-width: 1080px; */
}

.block_title {
	font-weight: bold;
	letter-spacing: .5em;
	font-size: 124%;
	text-align: center;
	margin-bottom: 40px;
}

.sub_title {
	display: block;
	letter-spacing: .5em;
	font-size: 80%;
	margin-top: 12px;
	color: #aaa;
}

.btn {
	display: block;
	margin:auto;
	border-radius: 0;
}

.form-control {
	border-radius: 0;
}

.terms_check {

}

.edit_user {
	justify-content: center;
}


.cbox {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flexbox;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	-js-display: flex;
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.cbox-inner {
	width:24%;
	position: relative;
	z-index: 1;
}

.cbox-inner a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent:-999px;
	z-index: 2;
}

.cbox-inner:hover {
	filter:alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity:0.7;
	zoom:1;
}

/* スマホ用スタイル */
@media screen and (max-width: 767px) {

/* 767pxまでの幅の場合に適応される */
	.cbox-inner {
		width:48%;
	}
}
